
@media screen and (max-width: 600px){
  header{
    padding: 0;
    overflow: visible;
  }
  header .right-header{
    padding: 0 !important;
  }
  .header-content{
    grid-template-columns: 1fr;
    padding-bottom: 6rem;
  }  
  .left-header{
    .h-shape{
      display: none;
    }
  }
  .right-header{
    grid-row: 1;
    width: 90%;
    margin: 0 auto;
    .name{
      font-size: 2.5rem !important; 
      width: 90%;
    }
  }
  .header-content .left-header .image{
    margin: 0 auto;
    width: 90%;
  }

  .about-container{
    grid-template-columns: 1fr;
    .right-about{
      grid-template-columns: 1fr;
      padding-top: 2.5rem;
    }
    .left-about{
      padding-right: 0;
      p{
        padding-left: 0;
      }
    }
  }
  .skills-container .progress-bars{
    grid-template-columns: 1fr;
    padding-bottom: 5rem;
  }
  .portfolios{
    grid-template-columns: 1fr;
    padding-bottom: 4rem;
  }
  .blogs{
    grid-template-columns: 1fr;
    padding-bottom: 4rem;
  }
  .contact-container {
    margin-bottom: 6rem;
    .contact-content{
      flex-direction: column;
      .right-contact{
        margin-left: 0;
        margin-top: 2.5rem;
        .i-c-2{
          flex-direction: column;
        }
        .i-c-2 :last-child{
          margin-left: 0 !important;
          margin-top: 1.5rem;
        }
      }
      .left-contact{
        h4{
          font-size: 1.5rem;
        }
        .contact-info .contact-item {
          display: block;
          margin-top: 1rem;
        }
      }
    }
  }
  .section{
    padding: 1.5rem 2rem !important;
  }
  .theme-btn{
    width: 40px;
    height: 40px;
    top:2%;
    right: 2%;
  }
  .controlls{
    top: auto;
    bottom: 0;
    border-radius:15px 15px 0 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background: var(--color-grey-5);
    .control{
      margin: 1rem .3rem;
    }
  }

  .main-title{
    h2{
      font-size: 3rem;
      span{
        font-size: 3rem;
      }
      .bg-text{
        font-size: 3.5rem;
      }
    }
  }
}
